<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/styles.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="prefetch" href="/images/base-assets.svg?{{ cacheBuster }}" as="image" type="image/svg+xml" media="all"/>
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}" style="{{ bodyStyle }}">
